---
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/milano.jpg
  actions:
    - label: "About me"
      url: "/about/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I'm a Computer Science MSc student based in Milan, Italy."
intro:
  - title: "Lastest Projects"

feature_row:
  - title: "A BI dashboard"
    excerpt: "I worked at Bounce Technologies as a Full Stack Developer for eight weeks. The backend was built using Flask, a Python framework. The frontend was developed mainly using jQuery and Chart.js. I also create a CSS template to satisfy the company needs."
    image_path: "https://cdn-images-1.medium.com/max/2400/1*28J7RPvJWwcjhmi-LD_7hQ.png"
    url: "/portfolio/bounce/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - title: "Crowd Simulation"
    excerpt: "My teammate and I studied and simulated the crowd behaviour during building evacuations. The model we developed is a multi-agent model. We then compared the performance of our model to real data."
    url: "#test-link"
    image_path: "/assets/images/portfolio/sentiment_bot/logo.png"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - title: "Spell Checker"
    excerpt: "My teammate and I implemented and trained an HMM model to check and rectify the misspelt words in sentences. Finally, we evaluated our model's performance with the state-of-the-art's models."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
