---
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/milano.jpg
  actions:
    - label: "About me"
      url: "/about/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I'm a Computer Science MSc student based in Milan, Italy."
intro:
  - title: "Lastest Projects"

feature_row:
  - title: "Backend for an iOS app"
    excerpt: "For the SE exam, my teammate and I developed a system that enables users to order private service from professional chefs. While Marco implemented the iOS app, I developed the backend using Node.js and Express as server and MongoDB as database."
    image_path: "/assets/images/portfolio/chef_expirence/logo2.png"
    url: "/portfolio/chef-expirence/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - title: "A BI dashboard"
    excerpt: "I worked at Bounce Technologies as a Full Stack Developer for eight weeks. The backend was built using Flask, a Python framework. The frontend was developed mainly using jQuery and Chart.js. I also create a CSS template to satisfy the company needs."
    image_path: "https://cdn-images-1.medium.com/max/2400/1*28J7RPvJWwcjhmi-LD_7hQ.png"
    url: "/portfolio/bounce/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - title: "News sentiment bot"
    excerpt: "As a side project, I developed a Telegram bot that uses IBM's AI platform to summarize and guess the sentiment of a given news article. It was an exciting project where I could learn how to use Telegram API. The server that runs the bot was developed using Python."
    url: "/portfolio/sentiment-bot/"
    image_path: "/assets/images/portfolio/sentiment_bot/logo2.png"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
