---
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/milano.jpg
  actions:
    - label: "About me"
      url: "/about/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "I'm a Computer Science MSc student based in Milan, Italy."
intro:
  - title: "Univeristy's Projects"

feature_row:
  - title: "Genre Classification"
    excerpt: "My teammates and I trained three different models to classify the genre of a track based on some features we grabbed from Spotify's API. Eventually, we studied and compared their performance."
    url: "/_posts/2018-02-15-Machine-Learning-Project"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - title: "Crowd Simulation"
    excerpt: "My teammate and I studied and simulated the crowd behaviour during building evacuations. The model we developed is a multi-agent model. We then compared the performance of our model to real data."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - title: "Spell Checker"
    excerpt: "My teammate and I implemented and trained an HMM model to check and rectify the misspelt words in sentences. Finally, we evaluated our model's performance with the state-of-the-art's models."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
